:root {
  --background: #ffffff;
  --primary: #323232;
  --secondary: #0e0e0e;
  --dark_background: #0e0e0e;
  --dark_primary: #cccccc;
  --dark_secondary: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--primary);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  padding: 40px 0px;
}

article {
  line-height: 1.6;
}

article h1 {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
}

article h2 {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 20px;
}

article span {
  color: var(--secondary);
}

article p {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

article a {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

article a:hover {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

@media (max-width: 768px) {
  main {
    padding: 20px 15px;
  }
  article h1 {
    font-size: 1.8rem;
  }
  article p {
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark_background);
    color: var(--dark_primary);
  }

  article h1,
  article h2 {
    color: var(--dark_secondary);
  }

  article a,
  article span {
    color: var(--dark_secondary);
  }
}
